<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Yagr</h1></a>
        <p>A Yagr Site</p>
        <p>Super Yagr Blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>