<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Yagr | <%= title %></title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Yagr</h1></a>
            <p>A Yagr Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nostrum ratione facilis deleniti? Accusantium voluptatibus officia rem architecto, perspiciatis ab autem repudiandae, dolore voluptate, sit reiciendis adipisci est eligendi natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro consequuntur hic incidunt! Repellat consequuntur animi consequatur quae eveniet illum quos incidunt dolorem earum nam sed, laborum culpa consectetur illo!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias placeat totam ducimus, suscipit odio deleniti iusto eius commodi modi culpa aut consequuntur saepe facere perspiciatis magni est. Dolores, officiis? Nulla.</p>

    </div>
    
</body>
</html>