<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>

<body>

    <%- include('./partials/nav.ejs')%>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nostrum ratione facilis deleniti? Accusantium voluptatibus officia rem architecto, perspiciatis ab autem repudiandae, dolore voluptate, sit reiciendis adipisci est eligendi natus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem porro consequuntur hic incidunt! Repellat consequuntur animi consequatur quae eveniet illum quos incidunt dolorem earum nam sed, laborum culpa consectetur illo!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias placeat totam ducimus, suscipit odio deleniti iusto eius commodi modi culpa aut consequuntur saepe facere perspiciatis magni est. Dolores, officiis? Nulla.</p>

    </div>
    <%- include('./partials/footer.ejs')%>

</body>
</html>